@model Fiap.Exemplo01.MVC.Web.Models.Produto
@{
    ViewBag.Title = "Sucesso";
}

<h2>Sucesso</h2>

<div class="alert alert-success">
    @TempData["mensagem"]
</div>
<h3>
    @Model.Nome 
    @Model.Quantidade
    @Model.Valor
</h3>

<p>
    Nome: @ViewBag.prod.Nome, Valor: @ViewBag.prod.Valor - @ViewBag.prod.Quantidade
</p>

